@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('https://liugamejam.se/styles/fonts/BebasNeue-Regular.eot');
    src: url('https://liugamejam.se/styles/fonts/BebasNeue-Regular.woff2') format('woff2'),
         url('https://liugamejam.se/styles/fonts/BebasNeue-Regular.woff') format('woff'),
         url('https://liugamejam.se/styles/fonts/BebasNeue-Regular.ttf') format('truetype'),
         url('https://liugamejam.se/styles/fonts/BebasNeue-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
