
// Colors
$highlight-color: #C40079;
$footer-color: #1C1C1E;
$text-color: #303336;

.container {
	width: 85vw;
	margin: 0 auto;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: 'Karla', sans-serif;

	color: $text-color;
	line-height: 1.6;
	box-sizing: border-box;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: $highlight-color;
}

h4 {
	color: rgba($text-color, 0.4);
}

a {
	color: $highlight-color;
}

header {
	margin: 5em 0;
}

.intro {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 3em;
}

footer {
	margin-top: 2em;
	padding: 2.5em 0;
	text-align: center;
	color: #B3BEBA;
	background-color: $text-color;
}

/* Larger tables and laptops/desktop. Limit width for typography purposes */
@media (min-width:800px) {
	.container {
		max-width: 768px;
		margin: 0 auto;
	}

	.block {
		width: 75%;
	}

	.headline {
		width: 25%;
	}
}