@import "_pocketgrid.scss";
@import "_mailchimpembed.scss";

// Colors
$primary-color: #C40079;
$secondary-color: #efe23e;
$footer-color: #B3BEBA;
$text-color: #f4f4f6;
$page-bg: #0b0033;

.container {
	width: 85vw;
	margin: 0 auto;
}

body {
	background-image: url(../images/backdrop.png);
	background-repeat: repeat-x;
	margin: 0;
	font-size: 100%;
	font-family: 'Karla', sans-serif;

	color: $text-color;
	background-color: $page-bg;
	line-height: 1.6;
	box-sizing: border-box;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: $primary-color;
}

h2 {
	color: $secondary-color;
	font-weight: 500;
	font-size: 2.5em;
	margin-bottom: 0;
}

h4, .question {
	color: $secondary-color;
	font-style: italic;
}

.eventinfo {
    text-align: center;
}

a {
	color: $primary-color;
}

header {
	text-align: center;
	margin: 3em 0;

	img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
	}
}

.intro {
	font-weight: 500;
	font-size: 1.5em;
	margin-bottom: 3em;
}

#mc_embed_signup {
	padding: 0 0 2em 0;
	font-family: inherit !important;

	form {
		padding: 0;
	}

	label {
		color: $secondary-color;
	}

	input.email {
    font-family: inherit;
	}

	input.button {
		font-family: inherit;
		background-color: $primary-color;

		&:hover, &:focus {
			background-color: lighten($primary-color, 5%);
		}
	}
}

footer {
	margin-top: 2em;
	padding: 1em 0;
	text-align: center;
	color: $footer-color;
	background-color: $text-color;
}

/* Larger tables and laptops/desktop. Limit width for typography purposes */
@media (min-width:780px) {
	.container {
		max-width: 768px;
		margin: 0 auto;
	}

	header {
		margin: 4em 0;

		img {
			max-width: 80%;
		}
	}

	.block {
		width: 75%;
	}

	.headline {
		width: 25%;
	}
}
